 @media only screen and (max-width: 600px) {
    section {
        padding: 30px;
    }


    .attraction {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto 30px;
    }

    .attraction img {
        width: 100%;
        height: auto;
    }

    .attraction-info h3 {
        font-size: 20px;
    }

    .attraction-info p {
        font-size: 16px;
    }

#about {
        width: 100%;
        flex-direction: column; 
    }
.text{
    width: 100%;

}

    #about img {
        width: 100%;
        height: auto; 
     }

} 


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
   
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
    color: white;
    background-color: #07c15b;
}

 #about {
    display: flex;
} 


 .text,
img {
    width: 50%;
    box-sizing: border-box;
} 

.text h2 {
    color: black;
    font-size: 25px;
}

#about img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 40%;
    object-fit: cover;
    border-bottom-right-radius: 40%;
}



#attractions h3{
    text-align: center;
    color: black;
    font-size: 25px;
}

.attraction {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* .left .attraction-info {
    text-align: justify;
    text-align: left;
} */

.attraction-info h2 {
    color: black;
    font-size: 25px;
}

.attraction img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 20px #333;

}

.attraction img:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.3s;
}

.contactform {
    padding: 1rem;
    animation: slideIn 1s ease-in-out;
  }
  
  .contactform > .formgroup {
    margin-bottom: 1rem;
  }
  
  .formgroup > .input,
  .formgroup > textarea {
    padding: 5px 10px;
    margin-top: 5px;
    font-weight: 600;
  }
  
  .submitbutton {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
  }
  

  @media only screen and (max-width: 460px) {
    .profileimage {
      width: 250px;
      height: 250px;
    }
  
    .herosectiondetails > h1 {
      font-size: 30px;
      margin-top: 1.5rem;
      margin-bottom: 0rem;
    }
  
    .herosectiondetails > h1 {
      font-size: 20px;
      margin: 0;
      font-weight: 400;
    }
  }
  
  .social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
  }
  .links {
    transition: ease-in-out 300ms;
    color: black;
  }
  
  .links:hover {
    transform: scale(1.2);
    
  }
  
  .links i.fa-phone:hover {
    color: #074870; /* LinkedIn blue */
  }
  
  .links i.fa-envelope:hover {
    color: #e74c3c; /* Red */
  }
  
  .links i.fa-square-instagram:hover {
    color: #dd2a7b; /* Instagram pink */
  }
  
  .links i.fa-x-twitter:hover {
    color: #220786; /* GitHub black */
  }
  .contactform h2{
        color: black;
        font-size: 25px;
    
  }
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}